@model IEnumerable<AdvertisementViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@using AutomotiveMarketSystem.Data.Common;
<div class="text-center">
    <h1 class="display-4">Automotive Sales System</h1>
</div>

<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Door</th>
                <th scope="col">Engine</th>
                <th scope="col">Price</th>
                <th scope="col">Publish Date</th>
                <th scope="col">Contact Person</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ad in Model)
            {
                if (ad.IsDeleted == false)
                {
                    <tr>
                        <td>@ad.BrandName</td>
                        <td>@ad.ModelName</td>
                        <td>@ad.ProductionYear</td>
                        <td>@ad.Door</td>
                        <td>@(((CarFuel)ad.EngineTypeId).ToString())</td>
                        <td>@ad.Price</td>
                        <td>@ad.PublishDate</td>
                        <td>@ad.UserName</td>
                        @if (User.Identity.IsAuthenticated && User.Identity.Name == ad.UserName)
                        {
                            <td>
                                <button class="btn alert-primary" onclick="window.location.href='@Url.Action("Update", "Car", ad)'">
                                    Update
                                </button>
                            </td>

                            <td>
                                <button class="btn alert-dark" onclick="window.location.href='@Url.Action("Delete", "Advertisement", ad)'">
                                    Delete
                                </button>
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="country-wrap">

        <div class="mountain-1"></div>
        <div class="mountain-2"></div>

        <div class="sun"></div>
        <div class="grass"></div>
        <div class="street">
            <div class="car">
                <div class="car-base"></div>
                <div class="car-body">
                    <div class="car-top-back">
                        <div class="back-curve"></div>
                    </div>
                    <div class="car-gate"></div>
                    <div class="car-top-front">
                        <div class="wind-sheild"></div>
                    </div>
                    <div class="bonet-front"></div>
                    <div class="stepney"></div>
                </div>
                <div class="boundary-tyre-cover">
                    <div class="boundary-tyre-cover-back-bottom"></div>
                    <div class="boundary-tyre-cover-inner"></div>
                </div>
                <div class="tyre-cover-front">
                    <div class="boundary-tyre-cover-inner-front"></div>
                </div>
                <div class="base-axcel">

                </div>
                <div class="front-bumper"></div>
                <div class="tyre">
                    <div class="gap"></div>
                </div>
                <div class="tyre front">
                    <div class="gap"></div>
                </div>
                <div class="car-shadow"></div>
            </div>
        </div>
        <div class="street-stripe"></div>
        <div class="hill">
            <div class="tree-1">
                <div class="branch-1"></div>
                <div class="branch-2"></div>
                <div class="branch-3"></div>
            </div>
            <div class="tree-1">
                <div class="branch"></div>
                <div class="trunk"></div>
            </div>
        </div>

    </div>
</body>

