@model CarViewModel

@{
    ViewData["Title"] = "AddCarToAdvetisement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AutomotiveMarketSystem.Data.Common;
<h1>AddCarToAdvetisement</h1>
<div class="row">
    <div class="col-8">
        <span>Brand:</span> <span>@Model.BrandName</span>
        <br />
        <span>Model:</span> <span>@Model.ModelName</span>
        <br />
        <span>Model:</span> <span>@Model.Door</span>
        <br />
        <span>Price:</span> <span>@Model.Price BGN</span>
        <br />
        <span>Year:</span> <span>@Model.ProductionYear</span>
        <br />
        <span>Engine:</span> <span>@((CarFuel)Model.EngineTypeId)</span>
        <br />

        @if (Model.ImagePath != null)
        {
            <a asp-controller="Car" asp-action="AddCar" asp-route-id="@Model.Id"> <h5 class="card-title">  <img class="card-img-top image-bar-index" max-width:100% height:auto src="@Model.ImagePath" alt="Smiley face"></h5></a>
        }
        else
        {
            <img class="card-img-top image-bar-index" width="266" height="200" src="~/images/noPhotoAvailable.jpg" alt="Card image cap">
        }
        <br />
        <a asp-route-Id="@Model.Id" asp-action="CreateAdvertisement" asp-controller="Advertisement">Create Advetisement</a>
    </div>
</div>
