@model CarViewModel

@{
    ViewData["Title"] = "AddCarToAdvetisement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AutomotiveMarketSystem.Data.Common;
<h1>AddCarToAdvetisement</h1>
<div class="row">
    <div class="col-8">
        <span>Brand:</span> <span>@Model.BrandName</span>
        <br />
        <span>Model:</span> <span>@Model.ModelName</span>
        <br />
        <span>Price:</span> <span>@Model.Price BGN</span>
        <br />
        <span>Year:</span> <span>@Model.ProductionYear</span>
        <br />
        <span>Engine:</span> <span>@((CarFuel)Model.EngineTypeId)</span>
        <br />
        <a asp-route-Id="@Model.Id" asp-action="CreateAdvertisement" asp-controller="Advertisement">Create Advetisement</a>
    </div>
</div>
